<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="Sergey Pozhilov (GetTemplate.com)" />

    <title>Sufod - Jeu gratuit mais e-shop honéreux $_$</title>
    <link rel="shortcut icon" href="assets/images/gt_favicon.png" />

    <link
      rel="stylesheet"
      media="screen"
      href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700"
    />
    <link
      rel="stylesheet"
      href="C:/Users/Jean-Hubert/Documents/Angular/SufodFront/SufodFront/src/app/assets/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="C:/Users/Jean-Hubert/Documents/Angular/SufodFront/SufodFront/src/app/assets/css/font-awesome.min.css"
    />

    <!-- Custom styles for our template -->
    <link
      rel="stylesheet"
      href="C:/Users/Jean-Hubert/Documents/Angular/SufodFront/SufodFront/src/app/assets/css/bootstrap-theme.css"
      media="screen"
    />
    <!-- <link rel="stylesheet" href="C:/Users/Jean-Hubert/Documents/Angular/SufodFront/SufodFront/src/app/assets/css/main.css" /> -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    [if lt IE 9]>
    <script src="C:/Users/Jean-Hubert/Documents/Angular/SufodFront/SufodFront/src/app/assets/js/html5shiv.js"></script>
    <script src="C:/Users/Jean-Hubert/Documents/Angular/SufodFront/SufodFront/src/app/assets/js/respond.min.js"></script>
    ![endif]>
  </head>
  <body>
    <header id="head" class="secondary">
      <app-navbar></app-navbar>
      <!-- Header -->
      <div class="container">
        <div class="row">
          <br />
          <br />
          <br />
          <br />
          <h1 class="lead">~REJOIGNEZ LE MONDE DE SUFOD EN PLETORIA~</h1>
          <p class="tagline">~Sufod, un monde aux mille merveilles~</p>
          <p>
            <a class="btn btn-default btn-lg" role="button" href="/e-shop"
              >E-shop</a
            >
            <a class="btn btn-action btn-lg" role="button" type="submit"
              >TELECHARGEMENT</a
            >
          </p>
        </div>
      </div>
    </header>
    <header id="head" class="secondary"></header>
    <header id="head" class="secondary"></header>
    <!-- /Header -->
    <!-- Intro -->
    <div class="container text-center">
      <h2 class="thin">Un petit projet sympathique</h2>
      <p class="text-muted">
        Ce jeu et a fortiori le site ont été réalisé dans le cadre d'un projet
        de groupe au cours de la formation dispensée par AJC Ingéniérie.<br />
        Nous espérons que ceux-ci plairont à notre public lors de notre
        présentation finale.
      </p>
    </div>
    <!-- /Intro-->

    <!-- Highlights - jumbotron -->
    <div class="jumbotron top-space">
      <div class="container">
        <h3 class="text-center thin">Pourquoi Sufod? Et pourquoi pas?</h3>

        <div class="row">
          <div class="col-md-4 col-sm-6 highlight">
            <div class="h-caption">
              <h4>
                <i class="fa fa-cogs fa-5"></i>Mécaniques de jeu intéressantes !
              </h4>
            </div>
            <div class="h-body text-center">
              <p>
                Rejoignez ce jeu palpitant qui vous donnera l'envie de pousser
                l'aventure et la découverte toujours plus loin. Profitez de la
                diversité des choix de personnages jouables et montrer votre
                domination devant les monstres qui se présenteront devant vous !
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 highlight">
            <div class="h-caption">
              <h4>
                <i class="fa fa-money fa-5"></i>Gratuit ou payant, à vous de
                voir $_$
              </h4>
            </div>
            <div class="h-body text-center">
              <p>
                Le contenu du jeu est adapté autant au joueur débutant
                souhaitant se détendre qu'aux joueurs poussant le
                perfectionnisme pour leur personnage. Tout dépendra de votre
                patience et de votre façon d'apprécier le jeu car le choix vous
                revient après tout.
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 highlight">
            <div class="h-caption">
              <h4>
                <i class="fa fa-smile-o fa-5"></i>Un problème, le support est là
                !
              </h4>
            </div>
            <div class="h-body text-center">
              <p>
                Si vous vous trouvez devant un bug ou auriez un problème,
                n'hésitez pas à solliciter l'admin Benoît. Très professionnel et
                avenant, il saura vous écouter et répondre à vos attentes de
                manière efficiente.
              </p>
            </div>
          </div>
        </div>
        <!-- /row  -->
      </div>
    </div>
    <!-- /Highlights -->

    <!-- container -->
    <div class="container">
      <h2 class="text-center top-space">
        L'heure est grave, l'oral approche !
      </h2>
      <br />

      <div class="jumbotron top-space">
        <h4>
          En ce jour, nous vous présentons l'aboutissement de notre travail à
          l'issue de la formation. Nous avons ramé, parfois chuté mais jamais
          renoncé afin de produire un travail qui nous l'espèrons vous
          conviendra.
        </h4>
        <p class="text-right">
          <a href="/actus" class="btn btn-primary btn-large">En avant !</a>
        </p>
      </div>
    </div>
    <!-- /container -->
    <app-footer></app-footer>
  </body>
</html>
