<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="Sergey Pozhilov (GetTemplate.com)" />

    <title>E-shop $_$ !</title>
    <link rel="shortcut icon" href="../../assets/images/gt_favicon.png" />

    <link
      rel="stylesheet"
      media="screen"
      href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700"
    />
    <link rel="css" href="../../assets/css/bootstrap.min.css" />
    <link rel="css" href="../../assets/css/font-awesome.min.css" />

    <!-- Custom styles for our template -->
    <link
      rel="css"
      href="../../assets/css/bootstrap-theme.css"
      media="screen"
    />
    <link rel="css" href="../../assets/css/main.css" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    [if lt IE 9]>
    <script src="../../assets/js/html5shiv.js"></script>
    <script src="../../assets/js/respond.min.js"></script>
    ![endIf]>
  </head>
  <app-navbar></app-navbar>
  <br />
  <br />
  <br />
  <body>
    <!-- container -->
    <div class="container">
      <ol class="breadcrumb">
        <li><a href="/home">Accueil</a></li>
        <li class="active">E-shop</li>
      </ol>
      <header class="page-header">
        <h1 class="page-title text-center">E-shop $_$</h1>
      </header>
      <main>
        <div class="row row-cols-1 row-cols-md-2 mb-3 text-center">
          <!-- 			Free pack 			-->
          <div class="col-md-4">
            <div class="maincontent rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">La voie du débutant !</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">
                  0 € <small class="text-muted fw-light">/mois</small>
                </h1>
                <ul class="list-unstyled mt-3 mb-3">
                  <h3>Pack du débutant</h3>
                  <li>Un peu d'argent</li>
                  <li>Un pagne</li>
                  <li>Une arme basique (on est pas des bètes!)</li>
                </ul>
                <button
                  type="button"
                  class="w-100 btn btn-lg btn-outline-primary"
                  routerLink="/signup"
                  routerLinkActive="active"
                >
                  Inscrivez-vous gratuitement !
                </button>
              </div>
            </div>
          </div>
          <!-- 			Medium pack 			-->
          <div class="col-md-4">
            <div class="maincontent rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Iop téméraire !</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">
                  15 € <small class="text-muted fw-light">/mois</small>
                </h1>
                <ul class="list-unstyled mt-3 mb-3">
                  <h3>Pack du Iop</h3>
                  <li>Plus d'argent</li>
                  <li>Une tenue décente</li>
                  <li>Une arme rare (on investi plus sur ce poulain!)</li>
                </ul>
                <button type="button" class="w-100 btn btn-lg btn-info">
                  C'est parti pour l'aventure !
                </button>
              </div>
            </div>
          </div>
          <!-- 			Premium pack 			-->
          <div class="col-md-4">
            <div class="maincontent rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Deal d'Entrofs !</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">
                  29 € <small class="text-muted fw-light">/mois</small>
                </h1>
                <ul class="list-unstyled mt-3 mb-3">
                  <h3>Pack du mécène</h3>
                  <li>Trop d'argent</li>
                  <li>Une tenue inabordable financièrement</li>
                  <li>Une arme légendaire (il nous a ruiné!)</li>
                </ul>
                <button type="button" class="w-100 btn btn-lg btn-primary">
                  Allons rouler sur les mobs !
                </button>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>

    <!-- /container -->

    <app-footer></app-footer>
  </body>
</html>
