<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="Sergey Pozhilov (GetTemplate.com)" />

    <title>Sufod - Jeu gratuit mais e-shop honéreux $_$</title>
    <link rel="shortcut icon" href="../../assets/images/gt_favicon.png" />

    <!-- <link
      rel="stylesheet"
      media="screen"
      href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700"
    /> -->
    <!-- <link rel="stylesheet" href="../../assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../assets/css/font-awesome.min.css" /> -->

    <!-- Custom styles for our template -->
    <!-- <link
      rel="stylesheet"
      href="assets/css/bootstrap-theme.css"
      media="screen"
    /> -->
    <!-- <link rel="stylesheet" href="../../assets/css/main.css" /> -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <app-navbar></app-navbar>
    <br />
    <br />
    <div class="container">
      <h1>Edition Personnage</h1>
      <div class="form-group">
        <label>id:</label>
        <input
          [(ngModel)]="personnage.id"
          class="form-control"
          readonly
          placeholder="generation automatique"
        />
      </div>
      <div class="form-group">
        <label>Nom :</label>
        <input type="text" class="form-control" [(ngModel)]="personnage.nom" />
      </div>
      <div class="form-group">
        <label>Description :</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="personnage.description"
        />
      </div>
      <div class="form-group">
        <label>Niveau :</label>
        <input
          type="number"
          class="form-control"
          [(ngModel)]="personnage.niveau"
        />
      </div>
      <div class="form-group">
        <label>Classe :</label>
        <select [(ngModel)]="personnage.classe">
          <option value="Yop">Yop</option>
          <option value="Cra">Cra</option>
          <option value="Sarasin">Sarasin</option>
          <option value="Magique">Magique</option>
          <option value="Physique">Physique</option>
          <option value="Distance">Distance</option>
        </select>
      </div>

      <div class="form-group">
        <label>Defense :</label>
        <input
          type="number"
          class="form-control"
          [(ngModel)]="personnage.defense"
        />
      </div>
      <div class="form-group">
        <label>Pv :</label>
        <input type="number" class="form-control" [(ngModel)]="personnage.pv" />
      </div>
      <div class="form-group">
        <label>Pv Max:</label>
        <input
          type="number"
          class="form-control"
          [(ngModel)]="personnage.pvMax"
        />
      </div>
      <div class="form-group">
        <label>Xp :</label>
        <input type="number" class="form-control" [(ngModel)]="personnage.xp" />
      </div>
      <div class="form-group">
        <label>compte</label>
        <select class="form-control" [(ngModel)]="personnage.compte">
          <option *ngFor="let c of compte | async" [ngValue]="c">
            {{ c.id }} {{ c.type }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label>attaque</label>
        <select class="form-control" [(ngModel)]="personnage.attaque">
          <option *ngFor="let a of attaque | async" [ngValue]="a">
            {{ a.id }} {{ a.nom }}
          </option>
        </select>
      </div>

      <div>
        <button (click)="save()" class="btn btn-primary">enregistrer</button>
        <a
          routerLink="/admin/personnage/list"
          routerLinkActive="active"
          class="btn btn-danger"
          >annuler</a
        >
      </div>
    </div>
  </body>
  <app-footer></app-footer>
</html>
