<div>
  <div class="form-group">
    <label>id:</label>
    <input
      [(ngModel)]="personnage.id"
      class="form-control"
      readonly
      placeholder="generation automatique"
    />
  </div>
  <div class="form-group">
    <label>Nom :</label>
    <input type="text" class="form-control" [(ngModel)]="personnage.nom" />
  </div>
  <div class="form-group">
    <label>Descirption :</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="personnage.description"
    />
  </div>
  <div class="form-group">
    <label>Niveau :</label>
    <input type="number" class="form-control" [(ngModel)]="personnage.niveau" />
  </div>
  <div class="form-group">
    <label>Classe :</label>
    <select [(ngModel)]="personnage.classe">
      <option value="Yop">Yop</option>
      <option value="Cra">Cra</option>
      <option value="Sarasin">Sarasin</option>
      <option value="Magique">Magique</option>
      <option value="Physique">Physique</option>
      <option value="Distance">Distance</option>
    </select>
  </div>

  <div class="form-group">
    <label>Defense :</label>
    <input
      type="number"
      class="form-control"
      [(ngModel)]="personnage.defense"
    />
  </div>
  <div class="form-group">
    <label>Pv :</label>
    <input type="number" class="form-control" [(ngModel)]="personnage.pv" />
  </div>
  <div class="form-group">
    <label>Pv Max:</label>
    <input type="number" class="form-control" [(ngModel)]="personnage.pvMax" />
  </div>
  <div class="form-group">
    <label>Xp :</label>
    <input type="number" class="form-control" [(ngModel)]="personnage.xp" />
  </div>
  <div class="form-group">
    <label>compte</label>
    <select class="form-control" [(ngModel)]="personnage.compte">
      <option *ngFor="let c of compte | async" [ngValue]="c">
        {{ c.id }} {{ c.type }}
      </option>
    </select>
  </div>
  <div class="form-group">
    <label>attaque</label>
    <select class="form-control" [(ngModel)]="personnage.attaque">
      <option *ngFor="let a of attaque | async" [ngValue]="a">
        {{ a.id }} {{ a.nom }}
      </option>
    </select>
  </div>
  <div class="form-group">
    <label>items:</label>
    <select class="form-control" [(ngModel)]="personnage.items">
      <option *ngFor="let i of items | async" [ngValue]="i">
        {{ i.id }} {{ i.libelle }}
      </option>
    </select>
  </div>
  <div>
    <button (click)="save()" class="btn btn-primary">enregistrer</button>
    <a
      routerLink="/admin/personnage/list"
      routerLinkActive="active"
      class="btn btn-link"
      >annuler</a
    >
  </div>
</div>
