<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="Sergey Pozhilov (GetTemplate.com)" />

    <title>Sufod - Jeu gratuit mais e-shop honéreux $_$</title>
    <link rel="shortcut icon" href="assets/images/gt_favicon.png" />

    <!-- <link
      rel="stylesheet"
      media="screen"
      href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700"
    /> -->
    <!-- <link rel="stylesheet" href="../../assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../assets/css/font-awesome.min.css" /> -->

    <!-- Custom styles for our template -->
    <!-- <link
      rel="stylesheet"
      href="assets/css/bootstrap-theme.css"
      media="screen"
    /> -->
    <!-- <link rel="stylesheet" href="../../assets/css/main.css" /> -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <app-navbar></app-navbar>
    <br />
    <br />
    <!-- container -->
    <div class="container">
      <ol class="breadcrumb">
        <li><a href="/home">Accueil</a></li>
        <li class="active">Accès utilisateur</li>
      </ol>

      <div class="row">
        <!-- Article main content -->
        <article class="col-xs-12 maincontent">
          <header class="page-header">
            <h1 class="page-title text-center">Connexion</h1>
          </header>

          <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-default">
              <div class="panel-body">
                <h3 class="thin text-center">Vous connecter à votre compte</h3>
                <p class="text-center text-muted">
                  Rejoignez l'aventure et
                  <a href="/signup">Inscrivez-vous</a>
                  pour visiter ce monde féérique.
                </p>
                <hr />
                <div *ngIf="showError">{{ message }}</div>
                <form (ngSubmit)="submit(form)" #form="ngForm">
                  <div class="top-margin">
                    <p>Pseudo <span class="text-danger">*</span></p>
                    <input
                      class="form-control"
                      name="pseudo"
                      [(ngModel)]="pseudo"
                      #pseudoCtrl="ngModel"
                      required
                    />

                    <div class="top-margin">
                      <p>Mot de passe <span class="text-danger">*</span></p>
                      <input
                        type="password"
                        class="form-control"
                        name="mdp"
                        [(ngModel)]="password"
                        #passwordCtrl="ngModel"
                        required
                      />
                    </div>
                  </div>
                  <p>
                    <label
                      >Tous les champs ayant <span class="text-danger">*</span>
                      sont obligatoires.
                    </label>
                  </p>
                  <div class="row">
                    <div class="col-lg-6">
                      <p>
                        <a href="/forgotten-password">Mot de passe oublié?</a>
                      </p>
                    </div>
                    <div class="col-lg-4 text-right">
                      <button
                        type="submit"
                        class="btn btn-action btn-lg"
                        [disabled]="form.invalid"
                      >
                        Se connecter
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </article>
        <!-- /Article -->
      </div>
    </div>
    <!-- /container -->
    <app-footer></app-footer>
  </body>
</html>
