<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="Sergey Pozhilov (GetTemplate.com)" />

    <title>Sufod - Jeu gratuit mais e-shop honéreux $_$</title>
    <link rel="shortcut icon" href="assets/images/gt_favicon.png" />

    <!-- <link
      rel="stylesheet"
      media="screen"
      href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700"
    /> -->
    <!-- <link rel="stylesheet" href="../../assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../assets/css/font-awesome.min.css" /> -->

    <!-- Custom styles for our template -->
    <!-- <link
      rel="stylesheet"
      href="assets/css/bootstrap-theme.css"
      media="screen"
    /> -->
    <!-- <link rel="stylesheet" href="../../assets/css/main.css" /> -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <app-navbar></app-navbar>
    <br />
    <br />
    <!-- container -->
    <div class="container">
      <ol class="breadcrumb">
        <li><a href="/home">Accueil</a></li>
        <li><a href="/actus">Actus</a></li>
        <li class="active">Evénement Owi Ankor, le retour !</li>
      </ol>

      <div class="row">
        <header class="page-header">
          <h1 class="page-title text-center">Owi ankor !</h1>
        </header>
        <!-- Article main content -->
        <article class="col-md maincontent">
          <h2>Owi Ankor est revenue !</h2>
          <img
            src="../assets/images/osamodasF_illu.png"
            alt=""
            class="img-responsive"
            width="360"
          /><br />
          <p>
            Owi Ankor est de retour pour vous jouer un mauvais tour ! Lors de
            son dernier aussaut, Owi Ankor a mis un désordre sans nom. Quoiqu'il
            arrive, cet apôtre du Dieu Osamodas ne doit pas rejoindre son
            temple.
          </p>

          <h3>Evenement de groupe !</h3>
          <img
            src="../assets/images/8E47oNu.png"
            alt=""
            class="img-responsive"
            width="360"
          /><br />
          <p>
            Venez profiter de l'occasion que vous offre Owi Ankor et arrêtez-la
            avant qu'elle ne puisse rendre hommage à son Dieu! Une montagne de
            loots sera obtenable si jamais ce boss est vaincu avant d'accomplir
            son devoir !
          </p>
          <h3>La rage du Dieu Osamodas !</h3>
          <img
            src="../assets/images/tumblr_c59dc5887f4dcc38977aa978c8bbe2b7_bdb811a6_640.jpg"
            alt=""
            class="img-responsive"
            width="360"
          /><br />
          <p>
            La parole du Dieu Osamodas est absolue (du moins dans ses pensées).
            Osez vous prendre pour plus puissant qu'un Dieu et provoquez-le pour
            lui faire comprendre que ce dieu n'est pas le vôtre ! Terminez le
            nouveau donjon, la tour des invocations folles pour lui montrer que
            vous ne lui prêterez alléageance sous aucun prétexte et volez-lui un
            Gobgob qui deviendra votre familier!
          </p>
        </article>
        <!-- /Article -->
        <h5>
          <a href="/actus">Retour actus</a>
        </h5>
      </div>
    </div>
    <!-- /container -->
    <app-footer></app-footer>
  </body>
</html>
