<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="Sergey Pozhilov (GetTemplate.com)" />

    <title>Sufod - Jeu gratuit mais e-shop honéreux $_$</title>
    <link rel="shortcut icon" href="assets/images/gt_favicon.png" />

    <!-- <link
      rel="stylesheet"
      media="screen"
      href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700"
    /> -->
    <!-- <link rel="stylesheet" href="../../assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../assets/css/font-awesome.min.css" /> -->

    <!-- Custom styles for our template -->
    <!-- <link
      rel="stylesheet"
      href="assets/css/bootstrap-theme.css"
      media="screen"
    /> -->
    <!-- <link rel="stylesheet" href="../../assets/css/main.css" /> -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <app-navbar></app-navbar>
    <br />
    <br />
    <!-- container -->
    <div class="container">
      <ol class="breadcrumb">
        <li><a href="/home">Accueil</a></li>
        <li class="active">Contactez-nous</li>
      </ol>

      <div class="row">
        <!-- Article main content -->
        <article class="col-sm-9 maincontent">
          <header class="page-header">
            <h1 class="page-title">Contactez-nous</h1>
          </header>

          <p>Vous rencontrez un problème.</p>
          <br />
          <form>
            <div class="row">
              <div class="col-sm-6">
                <input class="form-control" type="text" placeholder="Pseudo" />
              </div>
              <div class="col-sm-6">
                <input class="form-control" type="email" placeholder="Email" />
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-sm-12">
                <textarea
                  placeholder="Sentez venir l'inspiration..."
                  class="form-control"
                  rows="9"
                ></textarea>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-sm-6">
                <label class="checkbox"
                  ><input type="checkbox" /> Un peu de pub?</label
                >
              </div>
              <div class="col-sm-6 text-right">
                <input class="btn btn-action" type="submit" value="Envoyer" />
              </div>
            </div>
          </form>
        </article>
        <!-- /Article -->

        <!-- Sidebar -->
        <aside class="col-sm-3 sidebar sidebar-right">
          <div class="widget">
            <h4>Addresse :</h4>
            <address>Somewhere over the rainbow</address>
            <h4>Téléphone:</h4>
            <address>XX XX XX XX XX</address>
          </div>
        </aside>
        <!-- /Sidebar -->
      </div>
    </div>
    <app-footer></app-footer>
  </body>
</html>
