<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="Sergey Pozhilov (GetTemplate.com)" />

    <title>Sufod - Jeu gratuit mais e-shop honéreux $_$</title>
    <link rel="shortcut icon" href="../../assets/images/gt_favicon.png" />

    <!-- <link
      rel="stylesheet"
      media="screen"
      href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700"
    /> -->
    <!-- <link rel="stylesheet" href="../../assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../assets/css/font-awesome.min.css" /> -->

    <!-- Custom styles for our template -->
    <!-- <link
      rel="stylesheet"
      href="assets/css/bootstrap-theme.css"
      media="screen"
    /> -->
    <!-- <link rel="stylesheet" href="../../assets/css/main.css" /> -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <app-navbar></app-navbar>
    <br />
    <br />
    <div class="container">
      <h1>edition compte</h1>
      <div class="form-group">
        <label>id:</label>
        <input
          [(ngModel)]="compte.id"
          class="form-control"
          readonly
          placeholder="generation automatique"
        />
      </div>
      <div class="form-group">
        <label>Prenom :</label>
        <input type="text" class="form-control" [(ngModel)]="compte.prenom" />
      </div>
      <div class="form-group">
        <label>Nom :</label>
        <input type="text" class="form-control" [(ngModel)]="compte.nom" />
      </div>
      <div class="form-group">
        <label>Pseudo :</label>
        <input type="text" class="form-control" [(ngModel)]="compte.pseudo" />
      </div>
      <div class="form-group">
        <label>Mail :</label>
        <input type="email" class="form-control" [(ngModel)]="compte.mail" />
      </div>
      <div class="form-group">
        <label>Mdp :</label>
        <input type="password" class="form-control" [(ngModel)]="compte.mail" />
      </div>

      <div class="form-group">
        <label>Type :</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="compte.type"
          [disabled]="true"
        />
      </div>

      <div>
        <button (click)="save()" class="btn btn-primary">enregistrer</button>
        <a
          routerLink="/admin/compte/list"
          routerLinkActive="active"
          class="btn btn-danger"
          >annuler</a
        >
      </div>
    </div>
  </body>
  <app-footer></app-footer>
</html>
