<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="Sergey Pozhilov (GetTemplate.com)" />

    <title>Sufod - Jeu gratuit mais e-shop honéreux $_$</title>
    <link rel="shortcut icon" href="assets/images/gt_favicon.png" />

    <!-- <link
      rel="stylesheet"
      media="screen"
      href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700"
    /> -->
    <!-- <link rel="stylesheet" href="../../assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../assets/css/font-awesome.min.css" /> -->

    <!-- Custom styles for our template -->
    <!-- <link
      rel="stylesheet"
      href="assets/css/bootstrap-theme.css"
      media="screen"
    /> -->
    <!-- <link rel="stylesheet" href="../../assets/css/main.css" /> -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <app-navbar></app-navbar>
    <br />
    <br />
    <!-- container -->
    <div class="container">
      <ol class="breadcrumb">
        <li><a href="/home">Accueil</a></li>
        <li><a href="/actus">Actus</a></li>
        <li class="active">Evénement Iop enragé !</li>
      </ol>

      <div class="row">
        <header class="page-header">
          <h1 class="page-title text-center">Iop enragé !</h1>
        </header>
        <!-- Article main content -->
        <article class="col-md maincontent">
          <h2>Réveillez le Iop enragé sommeillant en vous !</h2>
          <img
            src="../assets/images/iop.jpg"
            alt=""
            class="img-responsive"
            width="360"
          /><br />
          <p>
            Venez découvrir le nouvel événement visant à farmer les Iops. Nul
            besoin de réfléchir, seulement se montrer plus malins qu'eux
          </p>

          <h3>N'hésitez pas à taper le Iop colossal !</h3>
          <img
            src="../assets/images/1161729-entete-article_m-1.png"
            alt=""
            class="img-responsive"
            width="360"
          /><br />
          <p>
            Un Iop particulièrement retors apparaîtra à certaines heures, ne le
            manquez pas! Celui-ci se montrera particulièrement généreux si vous
            parvenez à lui offrir un combat qui le distraira!
          </p>
          <h3>De la fuite dans les idées !</h3>
          <img
            src="../assets/images/tumblr_d0f73e2eb9aafebbf8238484dfe31f68_3deee28e_540.jpg"
            alt=""
            class="img-responsive"
            width="360"
          /><br />
          <p>
            Nul en ces lieux ne saurait ignorer les effets qu'ont le manque de
            combats ou la reflexion intensive chez ces individus. Il vous
            revient alors de calmer leurs ardeurs ou leur envie d'apprendre plus
            que nécessaire à ces grands benêts! Résolvez des énigmes pour leur
            venir en aide sinon parvenez à leur faire oublier le problème
            existentiel qu'ils tentaient de résoudre (oui c'est possible).
          </p>
        </article>
        <h5>
          <a href="/actus">Retour actus</a>
        </h5>
        <!-- /Article -->
      </div>
    </div>
    <!-- /container -->
    <app-footer></app-footer>
  </body>
</html>
