<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="Sergey Pozhilov (GetTemplate.com)" />

    <title>Sufod - Jeu gratuit mais e-shop honéreux $_$</title>
    <link rel="shortcut icon" href="assets/images/gt_favicon.png" />

    <!-- <link
      rel="stylesheet"
      media="screen"
      href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700"
    /> -->
    <!-- <link rel="stylesheet" href="../../assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../assets/css/font-awesome.min.css" /> -->

    <!-- Custom styles for our template -->
    <!-- <link
      rel="stylesheet"
      href="assets/css/bootstrap-theme.css"
      media="screen"
    /> -->
    <!-- <link rel="stylesheet" href="../../assets/css/main.css" /> -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <app-navbar></app-navbar>
    <!-- container -->
    <br /><br />
    <div class="container">
      <ol class="breadcrumb">
        <li><a href="/home">Accueil</a></li>
        <li class="active">Actus</li>
      </ol>

      <div class="row">
        <header class="page-header">
          <h1 class="page-title text-center">Actus</h1>
        </header>
        <!-- Article main content -->
        <article class="col-sm-4 maincontent">
          <h3>Réveillez le Iop enragé sommeillant en vous !</h3>
          <img
            src="../assets/images/iop.jpg"
            alt=""
            class="img-rounded pull-right"
            width="360"
          /><br />
          <p>
            Venez découvrir le nouvel événement visant à farmer les iops. Nul
            besoin de réfléchir, seulement se montrer plus malins qu'eux
          </p>

          <h3>N'hésitez pas à taper le Iop colossal !</h3>
          <p>
            Un Iop particulièrement retors apparaîtra à certaines heures, ne le
            manquez pas! Celui-ci se montrera particulièrement généreux si vous
            parvenez à lui offrir un combat qui le distraira!
          </p>
          <h5>
            <a href="/iopenrage">En savoir plus...</a>
          </h5>
        </article>
        <!-- /Article -->
        <article class="col-sm-4 maincontent">
          <h3>Les Cras débarquent !</h3>
          <img
            src="../../assets/images/cra.jpg"
            alt=""
            class="img-rounded pull-right"
            width="360"
          /><br />
          <p>
            Venez essayer la nouvelle classe distance du jeu! Vous en avez marre
            de l'épée et du bouclier, passez à la gatling... ou plutôt à l'arc
            dans un premier temps.
          </p>
          <h3>Nouveau gameplay et approche plus riche !</h3>
          <p>
            Le temps des Iop et autres bourrins en mêlée est révolu! A l'aide
            flèches surpruissantes assassiner vos ennemis en restant à l'abri
            des coups avec des flèches dévastatrices. De plus cette classe vient
            avec davantage de contenu !
          </p>
          <h5>
            <a href="/cra-release">En savoir plus...</a>
          </h5>
        </article>
        <!-- /Article -->
        <article class="col-sm-4 maincontent">
          <h3>Owi Ankor a encore frappé !</h3>
          <img
            src="../assets/images/osamodasF_illu.png"
            alt=""
            class="img-rounded pull-right"
            width="360"
          /><br />
          <p>
            Owi Ankor est de retour pour vous jouer un mauvais tour ! Lors de
            son dernier aussaut, Owi Ankor a mis un désordre sans nom. Quoiqu'il
            arrive, cet apôtre du Dieu Osamodas ne doit pas rejoindre son
            temple.
          </p>
          <h3>Evenement de groupe !</h3>
          <p>
            Venez profiter de l'occasion que vous offre Owi Ankor et arrêtez-la
            avant qu'elle ne puisse rendre hommage à son Dieu! Une montagne de
            loots et d'item seront obtenable si jamais ce boss est vaincu avant
            d'accomplir son devoir !
          </p>
          <h5>
            <a href="/owi-ankor">En savoir plus...</a>
          </h5>
        </article>
        <!-- /Article -->
      </div>
      <!-- /container -->
    </div>

    <app-footer></app-footer>
  </body>
</html>
