<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="Sergey Pozhilov (GetTemplate.com)" />

    <title>Sufod - Jeu gratuit mais e-shop honéreux $_$</title>
    <link rel="shortcut icon" href="assets/images/gt_favicon.png" />

    <link
      rel="stylesheet"
      media="screen"
      href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700"
    />
    <link
      rel="stylesheet"
      href="C:/Users/Jean-Hubert/Documents/Angular/SufodFront/SufodFront/src/app/assets/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="C:/Users/Jean-Hubert/Documents/Angular/SufodFront/SufodFront/src/app/assets/css/font-awesome.min.css"
    />

    <!-- Custom styles for our template -->
    <link
      rel="stylesheet"
      href="C:/Users/Jean-Hubert/Documents/Angular/SufodFront/SufodFront/src/app/assets/css/bootstrap-theme.css"
      media="screen"
    />
    <!-- <link rel="stylesheet" href="C:/Users/Jean-Hubert/Documents/Angular/SufodFront/SufodFront/src/app/assets/css/main.css" /> -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    [if lt IE 9]>
    <script src="C:/Users/Jean-Hubert/Documents/Angular/SufodFront/SufodFront/src/app/assets/js/html5shiv.js"></script>
    <script src="C:/Users/Jean-Hubert/Documents/Angular/SufodFront/SufodFront/src/app/assets/js/respond.min.js"></script>
    ![endif]>
  </head>
  <body>
    <app-navbar></app-navbar>
    <br />
    <br />
    <header class="page-header">
      <h1 class="page-title text-center">Les Cras débarquent !</h1>
    </header>
    <!-- Article main content -->
    <div class="container">
      <ol class="breadcrumb">
        <li><a href="/home">Accueil</a></li>
        <li><a href="/actus">Actus</a></li>
        <li class="active">Cras de sortie !</li>
      </ol>
      <article class="col-md maincontent">
        <h2>Réveillez le virtuose à l'arc sommeillant en vous !</h2>
        <img
          src="../assets/images/cra.jpg"
          alt=""
          class="img-responsive"
          width="360"
        /><br />
        <p>
          Venez essayer la nouvelle classe distance du jeu! Vous en avez marre
          de l'épée et du bouclier, passez à la gatling... ou plutôt à l'arc
          dans un premier temps.
        </p>
        <h3>Testez ce nouveau gameplay le 3 jours dès sa sortie !</h3>
        <img
          src="../assets/images/DXgdHWWXcAAw6Ng.jpg"
          class="img-responsive"
          width="360"
        /><br />
        <p>
          Vous aurez la chance de pouvoir tester cette nouvelle classe pour voir
          si cette nouvelle approche est faite pour vous ! De plus si vous
          parvenez à atteindre la niveau 10 vous recevrez un cadeau spécial.
        </p>
        <p></p>
        <h3>Devenez la terreur des autres joueurs !</h3>
        <img
          src="../assets/images/maxresdefault.jpg"
          class="img-responsive"
          width="360"
        /><br />
        <p>
          Usez de toutes vos flèches pour faire trembler vos ennemis de terreurs
          ! De nouvelles mécaniques voient le jour avec cette sortie, notamment
          des malus impactant plus sévèrement ceux qui n'arrivent pas à réduire
          rapidement la distance qui vous sépare. Bien que vous soyez fragile,
          encore faudrait-il que vous opposants vous touchent pour le savoir !
        </p>
      </article>
      <!-- /Article -->
      <h5>
        <a href="/actus">Retour actus</a>
      </h5>
    </div>

    <app-footer></app-footer>
  </body>
</html>
